.main {
  display: flex;
  gap: 39px;
  min-height: 100vh;
}
.main .main-form {
  width: 416px;
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 62px;
  padding-right: 39px;
  border-right: 1px solid #ff4f6e;
}
.main .main-diary {
  flex-grow: 2;
}
.main-form .heart-title {
  font-family: "Pretendard-Bold";
  line-height: 1;
  padding: 0.5em 0 0.5em 2em;
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 2em;
  margin-bottom: 16px;
}
.main-form .form {
  width: 100%;
}
.list {
  padding-top: 78px;
}
.list-item {
  padding: 60px 48px;
  border-width: 4px 1px 1px 1px;
  border-style: solid;
  border-color: #677880;
  margin-bottom: 40px;
  position: relative;
}
.list-item-article::before,
.list-item-article::after {
  content: "";
  display: block;
  background-color: #fffaf0;
  width: 80px;
  height: 40px;
  position: absolute;
  background-size: contain;
}
.list-item-article::before {
  left: 30px;
  top: -20px;
  background-image: url(../img/quote-start.svg);
  z-index: 10;
}
.list-item-article::after {
  right: 30px;
  bottom: -20px;
  background-image: url(../img/quote-end.svg);
  z-index: 10;
}
.list .list-item header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 13px;
}
.list .list-item .time {
  font-size: 12px;
}
.list-item header::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #677880;
  position: absolute;
  top: 3px;
  left: 0;
}
.list-item .title {
  font-family: "Pretendard-Bold";
}
.list-item .content {
  color: #5a6a72;
  font-size: 14px;
  line-height: 140%;
}
@media (max-width: 1024px) {
  .main {
    flex-direction: column;
    margin: 40px auto 0;
  }
  .main .main-form {
    min-width: 100%;
    border: 0;
    padding: 0;
  }
}
